<div class="container d-flex justify-content-center">
  <a href="/users/Register" class="btn btn-primary btn-lg mt-5">Register</a>
<a href="/users/list" class="btn btn-primary btn-lg mt-5 ml-5">Collection</a>
</div>
<div class="container mt-5 d-flex justify-content-center text-white">
  This is a trail web app for Crud operations
</div>